version: "3.8"

services:
  backend:
    build:
      context: ./back-end
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./front-end
    ports:
      - "5173:5173"
    depends_on:
      - backend
